///////////////////////////////////////////////////////////////////
//
//  Base Form Styles
//
///////////////////////////////////////////////////////////////////

input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  font-weight: bold;
  margin-bottom: $base-line-height * .25;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

textarea {
  height: 200px;
  resize: vertical;
}

textarea,
#{$all-text-inputs} {
  background-color: white;
  border: 2px solid $form-border-color;
  border-radius: $form-border-radius;
  @include box-sizing(border-box);
  font-family: $form-font-family;
  font-size: $form-font-size;
  margin-bottom: $base-line-height * .5;
  padding: ($base-line-height * .5) ($base-line-height * .5);
  @include transition(border-color);
  width: $form-width;

  &:focus {
    border-color: $form-border-color-focus;
    outline: none;
  }
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: $base-line-height * .5;
}

select {
  width: $form-width;
  margin-bottom: $base-line-height * 1.5;
}

button,
a.button,
input[type="submit"] {
  @include box-sizing(border-box);
  @include transition(border-color);
  background-color: $light-navy;
  border-radius: $form-border-radius;
  border: none;
  color: $light-white;
  display: block;
  font-size: $form-font-size;
  margin-bottom: $base-line-height * .5;
  padding: ($base-line-height * .5) ($base-line-height * .5);
  text-align: center;
  width: $form-width;
  line-height: $base-line-height;

  &:hover {
    background-color: $dark-navy;
    color: $light-white;
  }
}

//************************************************************//
// Custom Non-ui-smash
//************************************************************//
form {
  ol {
    list-style: none;
  }
}
fieldset.inputs {
  margin-bottom: 0;
}

.inline-errors {
  color: #FF4857;
}
