<div class='demo-container'>
  <div class='demo'>
    <h2>A better way to &ldquo;list&rdquo;.</h2>
    <%= image_tag 'screenshot.png' %>
  </div>
</div>

<div class='features-container'>
  <div class='features'>
    <div class='flexible'>
      <h3>Incredibly flexible.</h3>
      <p>Use it how you want to. Swine brisket chicken doner andouille, short loin venison beef. Corned beef short loin tenderloin, boudin pork loin bresaola kielbasa jerky swine brisket rump.</p>
    </div>

    <div class='simple'>
      <h3>Painlessly simple.</h3>
      <p>Flank corned beef turkey pancetta, short ribs pork jerky chicken. Frankfurter bresaola chuck chicken drumstick beef tenderloin spare ribs cow pork belly.</p>
    </div>

    <div class='fast'>
      <h3>Fast. Like a cheetah.</h3>
      <p>Just start typing. Then press enter.</p>
      <p>That's it. You've created your first task.</p>
    </div>
  </div>
</div>

<div class='subscribe-container'>
  <div class='subscribe'>
    <a href='#' class='button'>Subscribe</a>
  </div>
</div>
