<div class='demo-container'>
  <div class='demo'>
    <h2>A better way to &ldquo;list&rdquo;.</h2>
    <%= image_tag 'screenshot.png' %>
  </div>
</div>

<div class='features-container'>
  <div class='features'>
    <div class='flexible'>
      <h3>Incredibly flexible.</h3>
      <p>Use it how you want to.</p>
      <p>tupley isn't tailored for a specific list style, however this doesn't mean it's not particularly good at anything. Because it's so simple and tags are so versatile, you can use it in a way that works for you.</p>
    </div>

    <div class='simple'>
      <h3>Painlessly simple.</h3>
      <p>tupley gets out of your way so that you can focus on your tasks. Organize with tags, not UI. There aren't many features, because you probably don't need them.</p>
    </div>

    <div class='fast'>
      <h3>Fast. Like a cheetah.</h3>
      <p>Just start typing. Then press enter.</p>
      <p>That's it. You've created your first task.</p>
    </div>
  </div>
</div>

<div class='why-tags-container'>
  <div class='why-tags'>
    <div class='inner-why-tags'>
      <h3>Lists are so 2001.</h3>
      <p>Lists limit you to one categorization per item, however our lives are rarely so binary. You may want to tag something as both &lsquo;shopping&rsquo; and &lsquo;monday&rsquo;. That way, you can see all your &lsquo;monday&rsquo; tasks at the beginning of the day, then only your &lsquo;shopping&rsquo; tasks laster.</p>
    </div>
  </div>
</div>

<div class='subscribe-container'>
  <div class='subscribe'>
    <a href='#' class='button'>Pay what you want.</a>
  </div>
</div>
