.high_voltage-pages-show {
  .demo-container {
    background-color: $light-blue;
    margin-bottom: -5%;

    .demo {
      @include outer-container;
      color: #FFF;

      h2 {
        font-size: 2rem;
        text-align: center;
        padding: 20px;
      }

      img {
        height: auto;
        max-width: 90%;
        margin: 0 auto;
        display: block;
        @include box-shadow(0 0 7px 3px hsla(0, 0%, 0%, 0.07));
      }
    }
  }

  .features-container {
    background-color: $light-white;

    .features {
      @include outer-container;
      padding-top: 8%;
      padding-bottom: 60px;
      color: $light-navy;

      div {
        @include span-columns(4);

        @include media($mobile) {
          padding: 20px;
          @include span-columns(1);
        }
      }
    }
  }

  .subscribe-container {
    background-color: $light-navy;
    border-bottom: 1px solid $dark-navy;

    .subscribe {
      @include outer-container;
      padding: 50px;

      .button {
        margin: 0 auto;
        background-color: $light-red;
        width: 220px;
        font-weight: 900;
      }

      .button:hover {
        background-color: $dark-red;
      }
    }
  }

  .why-tags-container {
    background-color: $light-turquoise;
    color: $light-white;

    .why-tags {
      @include outer-container;

      .inner-why-tags {
        @include span-columns(6);
        @include shift(3);
        padding-top: 60px;
        padding-bottom: 60px;

        @include media($mobile) {
          padding-left: 20px;
          padding-right: 20px;
          @include span-columns(1);
          @include shift(0);
        }
      }
    }
  }

  footer {
    border-top: 1px solid lighten($dark-navy, 8%);
    background-color: $light-navy;
    color: $dark-white;

    a {
      color: $light-white;

      &:hover {
        color: $dark-white;
      }
    }
  }
}
