.tasks, .tags {
  .container {
    @include outer-container;

    .left-container {
      @include span-columns(9);

      .new_task {
        input[type='submit'] {
          // position: absolute;
          // left: -9999px;
          // width: 1px;
          // height: 1px;
        }
      }

      .tasks {
        list-style-type: none;

        .task {
          margin-bottom: 25px;

          .name {
            font-weight: bold;
          }

          .description {
            h1, h2, h3, h4, h5, h6 {
              font-size: em(14);
            }
          }

          .tags {
            list-style: none;
            padding: 0;

            li {
              display: inline-block;
              margin-right: 15px;
            }
          }

          .controls {
            a {
              color: $dark-white;

              &:hover {
                color: $dark-gray;
              }
            }

            .edit-link {
              margin-right: 15px;
            }

            .delete-confirmation {
              display: none;

              .cancel-link {
                color: $light-blue;

                &:hover {
                  color: $dark-blue;
                }
              }

              .destroy-link {
                color: $light-red;

                &:hover {
                  color: $dark-red;
                }
              }
            }
          }

          .edit_task {
            display: none;
            @include clearfix();

            .save-link {
              width: 48%;
              float: right;
            }

            .cancel-edit-link {
              width: 48%;
              background-color: $light-red;
              float: left;
              font-weight: bold;
              @include clearfix();

              &:hover {
                background-color: $dark-red;
              }
            }
          }
        }
      }

      .edit_user {
        display: none;

        .hint {
          width: 100%;
        }

        .button {
          position: absolute;
          left: -9999px;
          width: 1px;
          height: 1px;
        }
      }
    }


    .right-container {
      @include span-columns(3);

      .tags {
        list-style-type: none;
        line-height: $base-line-height * 1.4;
      }

      .edit_user {
        display: none;

        input[type='submit'] {
          position: absolute;
          left: -9999px;
          width: 1px;
          height: 1px;
        }
      }
    }

    .tags {
      a {
        color: $light-gray;

        &:hover {
          color: $dark-gray;
        }
      }
    }
  }
}
